apiVersion: v1
kind: Service
metadata:
  name: magic-spreadsheet-notifier-server
spec:
  selector:
    app: magic-spreadsheet-notifier-server
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
