apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana
spec:
  interval: 10m
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: 10.1.1
      sourceRef:
        kind: HelmRepository
        name: grafana
  values:
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: "Prometheus"
            type: prometheus
            access: proxy
            url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
          - name: "Elastic Search"
            type: elasticsearch
            access: proxy
            url: https://default-es-http.elastic-system.svc.cluster.local:9200
            jsonData:
              tlsSkipVerify: true
              timeField: "@timestamp"
            basicAuth: true
            basicAuthUser: elastic
            withCredentials: true
            secureJsonData:
              basicAuthPassword: $ELASTIC_PASSWORD
    envValueFrom:
      ELASTIC_PASSWORD:
        secretKeyRef:
          name: grafana-secret
          key: ELASTIC_PASSWORD
    persistence:
      enabled: true
      type: pvc
      storageClassName: longhorn
      size: 1Gi
    admin:
      existingSecret: grafana-secret
      userKey: admin-user
      passwordKey: admin-password
    deploymentStrategy:
      type: Recreate
  test:
    enable: true
