apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: default
spec:
  version: 8.15.0
  count: 1
  elasticsearchRef:
    name: default
  config:
    server.publicBaseUrl: KIBANA_SERVER_URL_PLACEHOLDER
  podTemplate:
    spec:
      initContainers:
        - name: elastic-internal-init
          image: alpine/curl:latest
          imagePullPolicy: IfNotPresent
          command:
            - "/bin/sh"
            - "-c"
            - "/mnt/elastic-internal/scripts/init_kibana.sh"
          volumeMounts:
            - name: init-scripts
              mountPath: /mnt/elastic-internal/scripts/init_kibana.sh
              subPath: init_kibana.sh
          env:
            - name: LOGS_TTL
              valueFrom:
                configMapKeyRef:
                  name: elastic-conf
                  key: LOGS_TTL
            - name: ELASTICSEARCH_HOST
              value: default-es-http
            - name: ELASTICSEARCH_PORT
              value: "9200"
            - name: ELASTICSEARCH_USERNAME
              value: elastic
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: default-es-elastic-user
                  key: elastic
      containers:
        - name: kibana
          resources:
            requests:
              memory: 500Mi
              cpu: 0.5
            limits:
              memory: 2.5Gi
              cpu: 2
      volumes:
        - name: init-scripts
          configMap:
            name: init-kibana-conf
            items:
              - key: init_kibana.sh
                path: init_kibana.sh
                mode: 0755
  http:
    service:
      spec:
        type: ClusterIP
    tls:
      selfSignedCertificate:
        disabled: true
