apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: magic-spreadsheet-notifier-server
spec:
  image: ghcr.io/piny940/magic-spreadsheet-notifier-server
  interval: 10m
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: magic-spreadsheet-notifier-server
spec:
  imageRepositoryRef:
    name: magic-spreadsheet-notifier-server
  policy:
    semver:
      range: 1.0.x
