apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
spec:
  interval: 10m
  chart:
    spec:
      chart: velero
      version: "11.3.2"
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu
  valuesFrom:
    - kind: ConfigMap
      name: values
      valuesKey: values.base.yaml
    - kind: ConfigMap
      name: values
      valuesKey: values.yaml
