apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: fluentd-secret
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: FLUENT_ELASTICSEARCH_PASSWORD
      remoteRef:
        key: fluentd
        property: FLUENT_ELASTICSEARCH_PASSWORD
