apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 10m
  chart:
    spec:
      chart: longhorn
      version: "1.11.0"
      sourceRef:
        kind: HelmRepository
        name: longhorn
  valuesFrom:
    - kind: ConfigMap
      name: values
      valuesKey: values.base.yaml
    - kind: ConfigMap
      name: values
      valuesKey: values.yaml
