apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: prometheus
  namespace: flux-system
spec:
  interval: 3m
  path: ./kubernetes/apps/prometheus/production
  prune: true
  sourceRef:
    kind: GitRepository
    name: apps-git
    namespace: flux-system
