boto3~=1.38.0
botocore~=1.38.0
certifi~=2025.1.31
charset-normalizer~=3.4.1
idna~=3.10
jmespath~=1.0.1
python-dateutil~=2.9.0.post0
python-dotenv~=1.1.0
requests~=2.32.3
s3transfer~=0.12.0
six~=1.17.0
slack_sdk~=3.35.0
urllib3~=2.4.0
