$TTL 86400
$ORIGIN home.local.
@   IN  SOA ns.home.local. admin.home.local. (
        2025091402 ; serial
        3600       ; refresh (1 hour)
        600        ; retry (10 minutes)
        604800     ; expire (1 week)
        86400      ; minimum (1 day)
    )
    IN  NS  ns.home.local.
{% for host in coredns.hosts %}
ns IN A {{ vars[host].host }}
{% endfor %}
procyon IN A {{ procyon.host }}
pollux IN A {{ pollux.host }}
deneb IN A {{ deneb.host }}
bellatrix IN A {{ bellatrix.host }}
castor IN A {{ castor.host }}
altair IN A {{ altair.host }}
betelgeuse IN A {{ betelgeuse.host }}
sirius IN A {{ sirius.host }}
rigel IN A {{ rigel.host }}
vega IN A {{ vega.host }}
olive IN A {{ olive.host }}
