apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: portfolio-admin
spec:
  imageRepositoryRef:
    name: portfolio-admin
  policy:
    semver:
      range: 1.1.x
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: portfolio-app
spec:
  imageRepositoryRef:
    name: portfolio-app
  policy:
    semver:
      range: 1.1.x
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: portfolio-backend
spec:
  imageRepositoryRef:
    name: portfolio-backend
  policy:
    semver:
      range: 1.1.x
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: portfolio-updater
spec:
  imageRepositoryRef:
    name: portfolio-updater
  policy:
    semver:
      range: 1.1.x
