apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
commonLabels:
  env: production
images:
  - name: portfolio-admin
    newName: ghcr.io/piny940/portfolio-admin # {"$imagepolicy": "default:portfolio-admin:name"}
    newTag: 1.1.143 # {"$imagepolicy": "default:portfolio-admin:tag"}
  - name: portfolio-app
    newName: ghcr.io/piny940/portfolio-app # {"$imagepolicy": "default:portfolio-app:name"}
    newTag: 1.1.141 # {"$imagepolicy": "default:portfolio-app:tag"}
  - name: portfolio-backend
    newName: ghcr.io/piny940/portfolio-backend # {"$imagepolicy": "default:portfolio-backend:name"}
    newTag: 1.1.145 # {"$imagepolicy": "default:portfolio-backend:tag"}
  - name: portfolio-updater
    newName: ghcr.io/piny940/portfolio-updater # {"$imagepolicy": "default:portfolio-updater:name"}
    newTag: 1.1.141 # {"$imagepolicy": "default:portfolio-updater:tag"}
resources:
  - ../base
  - ingress.yaml
  - image-policy.yaml
configMapGenerator:
  - name: portfolio-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://portfolio-backend.default.svc.cluster.local:8080
      - DB_NAME=portfolio_production
      - SLACK_CHANNEL_ID=C06EQE53RA8
      - GOOGLE_BUCKET_NAME=portfolio.piny940.com
      - GOOGLE_PROJECT_NUMBER=1056391010239
      - AUTH_OIDC_SUB=id:2;name:piny940,system:serviceaccount:default:portfolio-app,system:serviceaccount:default:portfolio-updater
      - AUTH_AUTH_SERVER_URL=https://auth.piny940.com/api/v1
      - AUTH_AUTH_SERVER_ISSUER=https://auth.piny940.com
      - AUTH_AUTH_AUDIENCE=cSPn6obFNacAnuMT
  - name: portfolio-app-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://portfolio-backend.default.svc.cluster.local:8080
  - name: portfolio-admin-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://portfolio-backend.default.svc.cluster.local:8080
      - APP_URL=https://portfolio-admin.piny940.com
      - AUTH_SERVER_URL=https://auth.piny940.com/api/v1
      - CLIENT_ID=cSPn6obFNacAnuMT
  - name: portfolio-updater-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://portfolio-backend.default.svc.cluster.local:8080
      - SLACK_CHANNEL_ID=C06EQE53RA8
  - name: workload-identity-credential-configuration
    behavior: merge
    files:
      - gcp-credential-configuration.json
replacements:
  - source:
      fieldPath: data.GOOGLE_PROJECT_NUMBER
      kind: ConfigMap
      name: portfolio-conf
      version: v1
    targets:
      - fieldPaths:
          - spec.template.spec.volumes.0.projected.sources.0.serviceAccountToken.audience
        options:
          delimiter: /
          index: 4
        select:
          group: apps
          version: v1
          kind: Deployment
          name: portfolio-backend
