apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: flux-target-updater
  namespace: default
spec:
  imageRepositoryRef:
    name: flux-target-updater
  filterTags:
    pattern: "^main-[a-z0-9]+-(?P<seq>[0-9]+)$"
    extract: "$seq"
  policy:
    numerical:
      order: asc
