apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
namePrefix: stg-
commonLabels:
  env: staging
images:
  - name: portfolio-admin
    newName: ghcr.io/piny940/portfolio-admin # {"$imagepolicy": "default:stg-portfolio-admin:name"}
    newTag: main-747f0014f33831b1db80c052049ab14f8b82b22a-20251212172825 # {"$imagepolicy": "default:stg-portfolio-admin:tag"}
  - name: portfolio-app
    newName: ghcr.io/piny940/portfolio-app # {"$imagepolicy": "default:stg-portfolio-app:name"}
    newTag: main-adba0648fec9f50bc5970587d0d56e559bc9c845-20251216185139 # {"$imagepolicy": "default:stg-portfolio-app:tag"}
  - name: portfolio-backend
    newName: ghcr.io/piny940/portfolio-backend # {"$imagepolicy": "default:stg-portfolio-backend:name"}
    newTag: main-fb4cd115d433c7f4ea9c5e718610691c4e0e0cf2-20251112201626 # {"$imagepolicy": "default:stg-portfolio-backend:tag"}
  - name: portfolio-updater
    newName: ghcr.io/piny940/portfolio-updater # {"$imagepolicy": "default:stg-portfolio-updater:name"}
    newTag: main-adba0648fec9f50bc5970587d0d56e559bc9c845-20251216185139 # {"$imagepolicy": "default:stg-portfolio-updater:tag"}
resources:
  - ../base
  - ingress.yaml
  - image-policy.yaml
configMapGenerator:
  - name: portfolio-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://stg-portfolio-backend.default.svc.cluster.local:8080
      - DB_NAME=portfolio_staging
      - GOOGLE_BUCKET_NAME=stg-portfolio.piny940.com
      - GOOGLE_PROJECT_NUMBER=645068243364
      - AUTH_OIDC_SUB=id:3;name:piny940,system:serviceaccount:default:stg-portfolio-app,system:serviceaccount:default:stg-portfolio-updater
      - AUTH_AUTH_SERVER_URL=https://stg-auth.piny940.com/api/v1
      - AUTH_AUTH_SERVER_ISSUER=https://stg-auth.piny940.com
      - AUTH_AUTH_AUDIENCE=068kYMJglne3X0Xr
  - name: portfolio-app-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://stg-portfolio-backend.default.svc.cluster.local:8080
  - name: portfolio-admin-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://stg-portfolio-backend.default.svc.cluster.local:8080
      - APP_URL=https://stg-portfolio-admin.piny940.com
      - AUTH_SERVER_URL=https://stg-auth.piny940.com/api/v1
      - CLIENT_ID=068kYMJglne3X0Xr
  - name: portfolio-updater-conf
    behavior: merge
    literals:
      - BACKEND_HOST=http://stg-portfolio-backend.default.svc.cluster.local:8080
      - SLACK_CHANNEL_ID=C07GEVCMQNN
  - name: workload-identity-credential-configuration
    behavior: merge
    files:
      - gcp-credential-configuration.json
replacements:
  - source:
      fieldPath: data.GOOGLE_PROJECT_NUMBER
      kind: ConfigMap
      name: portfolio-conf
      version: v1
    targets:
      - fieldPaths:
          - spec.template.spec.volumes.0.projected.sources.0.serviceAccountToken.audience
        options:
          delimiter: /
          index: 4
        select:
          group: apps
          version: v1
          kind: Deployment
          name: portfolio-backend
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: ".*"
  - patch: |-
      - op: replace
        path: /spec/interval
        value: 30s
    target:
      kind: ImageRepository
