apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: nextcloud
spec:
  interval: 24h
  url: https://nextcloud.github.io/helm/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  interval: 10m
  chart:
    spec:
      chart: nextcloud
      version: 8.5.9
      sourceRef:
        kind: HelmRepository
        name: nextcloud
  values:
    replicaCount: 1
    ingress:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        nginx.ingress.kubernetes.io/affinity: cookie
      tls:
        - hosts:
            - NEXTCLOUD_HOST_PLACEHOLDER
          secretName: cluster-tls
    nextcloud:
      host: NEXTCLOUD_HOST_PLACEHOLDER
      strategy:
        type: Recreate
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: username
        passwordKey: password
      mail:
        enabled: false
      hooks:
        before-starting: |
          #!/bin/sh
          php /var/www/html/occ app:install previewgenerator
          php /var/www/html/occ app:enable previewgenerator
          php /var/www/html/occ config:app:set --value="64 256 1024" previewgenerator squareSizes
          php /var/www/html/occ config:app:set --value="1024" previewgenerator squareUncroppedSizes
          php /var/www/html/occ config:app:set --value="" previewgenerator widthSizes
          php /var/www/html/occ config:app:set --value="" previewgenerator heightSizes
      configs:
        previews.config.php: |-
          <?php
          $CONFIG = array (
            'preview_max_x' => 1024,
            'preview_max_y' => 1024,
          );
    redis:
      enabled: false
    nginx:
      enabled: false
    cronjob:
      enabled: true
    resources:
      requests:
        memory: 256Mi
        cpu: 250m
      limits:
        memory: 1Gi
        cpu: "1"
    phpClientHttpsFix:
      enabled: true
      protocol: https
    rbac:
      enabled: true
      serviceaccount:
        create: true
        name: nextcloud-serviceaccount
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: postgres-cluster.database.svc.cluster.local:5432
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: nextcloud.nextcloud.postgres-cluster.credentials.postgresql.acid.zalan.do
        usernameKey: username
        passwordKey: password
    persistence:
      enabled: true
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: STORAGE_SIZE_PLACEHOLDER
  test:
    enable: true
