services:
  grafana:
    container_name: grafana
    image: grafana/grafana:12.2.0
    environment:
      GF_PATHS_CONFIG: /etc/grafana/grafana.ini
      GF_PATHS_DATA: /var/lib/grafana/data
      GF_PATHS_LOGS: /var/log/grafana
      GF_PATHS_PLUGINS: /var/lib/grafana/plugins
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    env_file:
      - ./grafana/.env
    volumes:
      # - grafana-storage:/var/lib/grafana
      - grafana-logs:/var/log/grafana
      - ./grafana/config.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro

  nginx:
    container_name: nginx
    image: nginx:1.29.2-alpine-slim
    ports:
      - 12001:3000
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    secrets:
      - tls.crt
      - tls.key
    depends_on:
      - grafana

volumes:
  # grafana-storage:
  grafana-logs:
secrets:
  tls.crt:
    file: ./nginx/secrets/tls.crt
  tls.key:
    file: ./nginx/secrets/tls.key
