services:
  grafana:
    container_name: grafana
    image: grafana/grafana:12.3.0
    environment:
      GF_PATHS_CONFIG: /etc/grafana/grafana.ini
      GF_PATHS_DATA: /var/lib/grafana/data
      GF_PATHS_LOGS: /var/log/grafana
      GF_PATHS_PLUGINS: /var/lib/grafana/plugins
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    env_file:
      - ./grafana/.env
    depends_on:
      - elasticsearch
    volumes:
      - grafana-storage:/var/lib/grafana
      - grafana-logs:/var/log/grafana
      - ./grafana/config.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    restart: unless-stopped

  nginx:
    container_name: nginx
    image: nginx:1.29.3-alpine-slim
    ports:
      - 12001:3000
      - 12002:3003
    dns:
      - 192.168.151.223
      - 192.168.151.235
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    secrets:
      - tls.crt
      - tls.key
    restart: unless-stopped

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    volumes:
      - es-data:/usr/share/elasticsearch
    restart: unless-stopped
  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:9.2.2
    depends_on:
      - elasticsearch
    ports:
      - 15601:5601
    env_file:
      - ./kibana/.env
    volumes:
      - ./kibana/kibana.yaml:/usr/share/kibana/config/kibana.yml
    restart: unless-stopped
  auto-delete-ilm:
    container_name: auto-delete-ilm
    image: curlimages/curl:8.17.0
    entrypoint: ["/bin/sh", "/scripts/deletion-ilm.sh"]
    env_file:
      - ./auto-delete-ilm/.env
    environment:
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=9200
      - LOGS_PRD_TTL=90d
      - LOGS_STG_TTL=30d
      - LOGS_MONITORING_TTL=30d
    volumes:
      - ./auto-delete-ilm/deletion-ilm.sh:/scripts/deletion-ilm.sh:ro
    depends_on:
      - elasticsearch
    restart: on-failure

  fluentbit:
    container_name: fluentbit
    image: cr.fluentbit.io/fluent/fluent-bit:4.2.0
    command:
      - --config
      - /fluent-bit/etc/fluent-bit.yaml
    volumes:
      - ./fluentbit/fluent-bit.yaml:/fluent-bit/etc/fluent-bit.yaml:ro
      - fluentbit-db:/fluent-bit/db
      - fluentbit-logs:/fluent-bit/log
      - grafana-logs:/grafana/logs
    env_file:
      - ./fluentbit/.env
    depends_on:
      - elasticsearch
    restart: unless-stopped

volumes:
  grafana-storage:
  grafana-logs:
  es-data:
  fluentbit-logs:
  fluentbit-db:
secrets:
  tls.crt:
    file: ./nginx/secrets/tls.crt
  tls.key:
    file: ./nginx/secrets/tls.key
