apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
commonLabels:
  env: production
images:
  - name: external-dns
    newName: ghcr.io/piny940/external-dns # {"$imagepolicy": "default:external-dns:name"}
    newTag: "20250215015952" # {"$imagepolicy": "default:external-dns:tag"}
resources:
  - ../base
configMapGenerator:
  - name: external-dns-conf
    behavior: merge
    literals:
      - OWNER_ID=production
      - CF_TUNNEL_ID=8efba9e1-5cf9-4b9a-abb1-c4ff97e640ba
      - CF_ACCOUNT_ID=66f329cedfe902cbfc395f9f5850122a
      - SLACK_CHANNEL=C06CB9RUP3J
