apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
  user: admin
spec:
  hosts:
    - ssh:
        address: 192.168.151.224 # altair
        user: privileged
        keyPath: ~/.ssh/k0sctl
      role: controller
      installFlags:
        - --enable-metrics-scraper
    - ssh:
        address: 192.168.151.233 # deneb
        user: privileged
        keyPath: ~/.ssh/k0sctl
      role: controller
      installFlags:
        - --enable-metrics-scraper
    - ssh:
        address: 192.168.151.229 # vega
        user: privileged
        keyPath: ~/.ssh/k0sctl
      role: controller
      installFlags:
        - --enable-metrics-scraper
    - ssh:
        address: 192.168.151.228 # rigel
        user: privileged
        keyPath: ~/.ssh/k0sctl
      role: worker
      installFlags:
        - --kubelet-extra-args="--resolv-conf=/run/systemd/resolve/resolv.conf"
    - ssh:
        address: 192.168.151.225 # betelgeuse
        user: privileged
        keyPath: ~/.ssh/k0sctl
      role: worker
      installFlags:
        - --kubelet-extra-args="--resolv-conf=/run/systemd/resolve/resolv.conf"
    - ssh:
        address: 192.168.151.234 # bellatrix
        user: privileged
        keyPath: ~/.ssh/k0sctl
      role: worker
      installFlags:
        - --kubelet-extra-args="--resolv-conf=/run/systemd/resolve/resolv.conf"
  k0s:
    version: 1.33.4+k0s.0
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: k0s
      spec:
        api:
          address: 192.168.151.11 # keepalive
          port: 6443
          externalAddress: 192.168.151.11 # keepalive
          sans:
            - 192.168.151.11 # keepalive
          extraArgs:
            audit-policy-file: /var/lib/k0s/audit-policy.yaml
            audit-log-path: /var/log/k0s/audit/audit.log
            audit-log-maxsize: "100"
            audit-log-maxage: "2"
        network:
          provider: kuberouter
          podCIDR: 10.244.0.0/16
          kubeProxy:
            mode: ipvs
            ipvs:
              strictARP: true
        telemetry:
          enabled: false
