apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: clubroom-secret
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    # - secretKey: GOOGLE_JSON
    #   remoteRef:
    #     key: clubroom
    #     property: google-json
    - secretKey: SECRET_KEY_BASE
      remoteRef:
        key: clubroom
        property: secret-key-base
