apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
commonLabels:
  env: production
images:
  - name: song-list-backend
    newName: ghcr.io/piny940/song-list-backend # {"$imagepolicy": "default:song-list-backend:name"}
    newTag: 1.0.109 # {"$imagepolicy": "default:song-list-backend:tag"}
  - name: song-list-frontend
    newName: ghcr.io/piny940/song-list-frontend # {"$imagepolicy": "default:song-list-frontend:name"}
    newTag: 1.0.108 # {"$imagepolicy": "default:song-list-frontend:tag"}
resources:
  - ../base
  - ingress.yaml
  - image-policy.yaml
  - pdb.yaml
configMapGenerator:
  - name: song-list-conf
    behavior: merge
    literals:
      - POSTGRES_NAME=song_list_production
      - BACKEND_HOST=song-list-backend.default.svc.cluster.local
      - SERVER_NAME=peach
      - RAILS_HOST=song-list-backend.piny940.com
