apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: postgres-operator
  namespace: database
spec:
  interval: 10m
  url: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgres-operator
  namespace: database
spec:
  interval: 10m
  chart:
    spec:
      chart: postgres-operator
      version: 1.15.1
      sourceRef:
        kind: HelmRepository
        name: postgres-operator
  values:
    configKubernetes:
      enable_cross_namespace_secret: true
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 250Mi
  test:
    enable: true
