apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: hashicorp
  namespace: vault
spec:
  interval: 10m
  url: https://helm.releases.hashicorp.com
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 10m
  timeout: 10m
  chart:
    spec:
      chart: vault
      version: 0.32.0
      sourceRef:
        kind: HelmRepository
        name: hashicorp
  values:
    global:
      enabled: true
      tlsDisable: false
    injector:
      replicas: 1
      agentDefaults:
        cpuLimit: "500m"
        cpuRequest: "250m"
        memLimit: "128Mi"
        memRequest: "64Mi"
    server:
      extraEnvironmentVars:
        VAULT_CACERT: /vault/userconfig/vault-tls/vault.ca
        VAULT_TLSCERT: /vault/userconfig/vault-tls/vault.crt
        VAULT_TLSKEY: /vault/userconfig/vault-tls/vault.key
      volumes:
        - name: userconfig-vault-tls
          secret:
            defaultMode: 420
            secretName: vault-tls
      volumeMounts:
        - mountPath: /vault/userconfig/vault-tls
          name: userconfig-vault-tls
          readOnly: true
      standalone:
        enabled: true
        config: |
          ui = true
          listener "tcp" {
            address = "[::]:8200"
            cluster_address = "[::]:8201"
            tls_cert_file = "/vault/userconfig/vault-tls/vault.crt"
            tls_key_file  = "/vault/userconfig/vault-tls/vault.key"
            tls_client_ca_file = "/vault/userconfig/vault-tls/vault.ca"
          }
          storage "file" {
            path = "/vault/data"
          }
      ingress:
        enabled: true
        ingressClassName: nginx
        pathType: Prefix
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      dataStorage:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
      persistentVolumeClaimRetentionPolicy:
        whenDeleted: Retain
        whenScaled: Retain
      readinessProbe:
        enabled: true
        # If you need to use a http path instead of the default exec
        path: /v1/sys/health?standbyok=true
        port: 8200
        failureThreshold: 2
        initialDelaySeconds: 5
        periodSeconds: 5
        successThreshold: 1
        timeoutSeconds: 3
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
  test:
    enable: true
