apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
namePrefix: stg-
commonLabels:
  env: staging
images:
  - name: external-dns
    newName: ghcr.io/piny940/external-dns # {"$imagepolicy": "default:stg-external-dns:name"}
    newTag: "20250215015952" # {"$imagepolicy": "default:stg-external-dns:tag"}
resources:
  - ../base
configMapGenerator:
  - name: external-dns-conf
    behavior: merge
    literals:
      - OWNER_ID=staging
      - CF_TUNNEL_ID=d2dd618d-4dd7-467b-a41a-41b5b1985dfe
      - CF_ACCOUNT_ID=66f329cedfe902cbfc395f9f5850122a
      - SLACK_CHANNEL=C07655VCH9P
