apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: open-webui
spec:
  interval: 24h
  url: https://helm.openwebui.com/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  interval: 10m
  chart:
    spec:
      chart: open-webui
      version: 8.14.0
      sourceRef:
        kind: HelmRepository
        name: open-webui
  values:
    livenessProbe:
      httpGet:
        path: /health
        port: http
      failureThreshold: 1
      periodSeconds: 10
    readinessProbe:
      httpGet:
        path: /health/db
        port: http
      failureThreshold: 1
      periodSeconds: 10
    startupProbe:
      httpGet:
        path: /health
        port: http
      initialDelaySeconds: 30
      periodSeconds: 5
      failureThreshold: 20
    persistence:
      enabled: true
      existingClaim: open-webui-pvc
    extraEnvVars:
      - name: OPENAI_API_KEY
        valueFrom:
          secretKeyRef:
            name: open-webui-secret
            key: OPENAI_API_KEY
  test:
    enable: true
