apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
labels:
  - includeSelectors: true
    pairs:
      env: production
resources:
  - ../base
  - image-policy.yaml
  - ingress.yaml
  - pdb.yaml
images:
  - name: auth
    newName: ghcr.io/piny940/auth-backend # {"$imagepolicy": "default:auth:name"}
    newTag: 1.0.537 # {"$imagepolicy": "default:auth:tag"}
  - name: auth-frontend
    newName: ghcr.io/piny940/auth-frontend # {"$imagepolicy": "default:auth-frontend:name"}
    newTag: 1.0.535 # {"$imagepolicy": "default:auth-frontend:tag"}
  - name: auth-example
    newName: ghcr.io/piny940/auth-example # {"$imagepolicy": "default:auth-example:name"}
    newTag: 1.0.537 # {"$imagepolicy": "default:auth-example:tag"}
configMapGenerator:
  - name: auth-conf
    behavior: merge
    literals:
      - DB_NAME=auth
      - SERVER_URL=https://auth.piny940.com/api/v1
      - API_LOGIN_URL=https://auth.piny940.com/
      - API_APPROVE_URL=https://auth.piny940.com/approve
      - OAUTH_ISSUER=https://auth.piny940.com
      - OAUTH_RSA_KEY_ID=N2fuPC3ZjxukoRmF51Vbm5d4N8UYfgcmRvYt5m
      - |
        OAUTH_RSA_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
        MIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAhJ6MjlSpFVrr4C0Pp3pg
        PuYkOiGOuae7/4gfa4nhJ3OvpGR6C2K38eJIIEYlgtGBJSXrqlSZ8Hif/l/68qcS
        Q0KODb+SYmFxwBAGrFp2zRXCt8x4frJ/kqAjQqYq1lCdqtslc0mcGpRsCo9CIp2A
        bbl3fIOxpAmjrZo4HFaRewV9MxbenBjS4SBLPoKsGn6SbzfwaruJzcOh828XqSyE
        pgznpMs6ywDi3mXWPqzdEP/lSsSCFsM4hf6DVkVgATcCZlFlavd/lakXTW/+4MeD
        82RZyAMCZ+sfEBwvK5A6hi0ab0wxmrGFyIUkz1MJtqFSO+x2upNwtBQ05rQ9DFJ0
        wW8wWvKOqKTnf2XvWsLyke3eX0X1c0k0pF3bNrtLiYzSLkijVkPj8dFqJhPwl2p5
        fneI2Wv9EFwGZB9CyODEYMGY9kRq+n+AxYt0linAufyzY1bEc8pn0SYd2yClDDXg
        RZ5cX8PWy7Er7bjYcIAOyHFStXvvbFBa08+k/NUSpF9pAgMBAAE=
        -----END PUBLIC KEY-----
      - NEXT_PUBLIC_API_URL=https://auth.piny940.com/api/v1
      - NEXT_PUBLIC_APP_URL=https://auth-example.piny940.com
      - NEXT_PUBLIC_CLIENT_ID=2S0umxZi3FpudChL
