apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: open-webui-secret
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: OPENAI_API_KEY
      remoteRef:
        key: open-webui
        property: OPENAI_API_KEY
