apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: package-watcher
spec:
  imageRepositoryRef:
    name: package-watcher
  filterTags:
    pattern: "^stg-[a-z0-9]+-(?P<ts>[0-9]+)$"
    extract: "$ts"
  policy:
    numerical:
      order: asc
