apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: bitnami
  namespace: database
spec:
  interval: 1h
  url: oci://registry-1.docker.io/bitnamicharts
  type: oci
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
  namespace: database
spec:
  interval: 1h
  chart:
    spec:
      chart: redis
      version: "22.0.7"
      sourceRef:
        kind: HelmRepository
        name: bitnami
  values:
    image:
      registry: docker.io
      repository: redis
      tag: 8.2.3
    auth:
      enabled: true
      existingSecret: redis-secret
      existingSecretPasswordKey: redis-password
    master:
      count: 1
      kind: StatefulSet
      persistence:
        enabled: true
        storageClass: longhorn
        accessModes:
          - ReadWriteOnce
        size: 8Gi
      ## @param master.terminationGracePeriodSeconds Integer setting the termination grace period for the redis-master pods
      terminationGracePeriodSeconds: 30
      serviceAccount:
        create: true
      resources:
        requests:
          cpu: 20m
          memory: 50Mi
        limits:
          cpu: "3"
          memory: 1024Mi
    replica:
      kind: StatefulSet
      replicaCount: 1
      persistence:
        enabled: true
        storageClass: longhorn
        accessModes:
          - ReadWriteOnce
        size: 8Gi
      persistentVolumeClaimRetentionPolicy:
        enabled: true
        whenScaled: Retain
        whenDeleted: Retain
      terminationGracePeriodSeconds: 30
      serviceAccount:
        create: true
      resources:
        requests:
          cpu: 50m
          memory: 20Mi
        limits:
          cpu: 3
          memory: 1024Mi
  test:
    enable: true
