apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
labels:
  - includeSelectors: true
    pairs:
      env: staging
namePrefix: stg-
resources:
  - ../base
  - image-policy.yaml
  - ingress.yaml
images:
  - name: auth
    newName: ghcr.io/piny940/auth-backend # {"$imagepolicy": "default:stg-auth:name"}
    newTag: stg-bdc6fbaadaead5bdbc2dbfb591094cbccd09f553-2282 # {"$imagepolicy": "default:stg-auth:tag"}
  - name: auth-frontend
    newName: ghcr.io/piny940/auth-frontend # {"$imagepolicy": "default:stg-auth-frontend:name"}
    newTag: stg-bdc6fbaadaead5bdbc2dbfb591094cbccd09f553-2282 # {"$imagepolicy": "default:stg-auth-frontend:tag"}
  - name: auth-example
    newName: ghcr.io/piny940/auth-example # {"$imagepolicy": "default:stg-auth-example:name"}
    newTag: stg-bdc6fbaadaead5bdbc2dbfb591094cbccd09f553-2282 # {"$imagepolicy": "default:stg-auth-example:tag"}
configMapGenerator:
  - name: auth-conf
    behavior: merge
    literals:
      - DB_NAME=auth_staging
      - SERVER_URL=https://stg-auth.piny940.com/api/v1
      - API_LOGIN_URL=https://stg-auth.piny940.com/
      - API_APPROVE_URL=https://stg-auth.piny940.com/approve
      - OAUTH_ISSUER=https://stg-auth.piny940.com
      - OAUTH_RSA_KEY_ID=LzX4wJvUMapImDM8LwHdtAeBn81Wink0AsROYg
      - |
        OAUTH_RSA_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
        MIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAwAiNRVv1s7xnGhnqROX+
        xAeHhSOaB5rmpA9sCUaim56HXONyMaVY7P6sTuN89OHzNnCYwrMdBc9YfJ2dPu9e
        ZwvmdloPkMQUS9i3a9pnTkK1Z2BFpvPtF8Z8QB5Mnk+oTVlsW81xtOsImeRg1hHb
        dwp8+mtRksweignUSifiEJOkaQdNFX5rop33xnxOetEvlXvq7w9AuyF8LVDkGBww
        hYHc4/UFRwVQcefq/bnf4ocPXeRHXGnSm2bSNK89R0J5k1gsRJsuoShKlxxYJjVF
        fJFE4x103Z80xm4JD4INHL5htfHyxvSWV9Ufmp8T1z8jk1VdN1caUdOOvMt1ITVb
        kuN4t/E4xSbVdx7Z+p4zOKiWjnMXO9SOvqMs0IvE4jIdNFsNkfi5e22K8dXB5PJR
        u9GqzlkFKyGYR4ay3wg7Ufpk4XPGuLu40DUE9NF7ncCyoqkaOfcuoS3u+hNZeyhe
        Rfez7TMaewq0kiO9rhh4Qa6GhKEIpD36btstoNCofntxAgMBAAE=
        -----END PUBLIC KEY-----
      - NEXT_PUBLIC_API_URL=https://stg-auth.piny940.com/api/v1
      - NEXT_PUBLIC_APP_URL=https://stg-auth-example.piny940.com
      - NEXT_PUBLIC_CLIENT_ID=s7tWwn7g3osEP2eG
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
  - patch: |-
      - op: replace
        path: /spec/interval
        value: 30s
    target:
      kind: ImageRepository
