vrrp_instance string {
  state {% if  %}
  interface string
  mcast_src_ip @IP
  lvs_sync_daemon_interface string
  virtual_router_id num
  priority num
  advert_int num
  smtp_alert
  authentication {
      auth_type PASS|AH
      auth_pass string
  }
  virtual_ipaddress { # Block limited to 20 IP addresses
      @IP
      @IP
      @IP
  }
  virtual_ipaddress_excluded { # Unlimited IP addresses
      @IP
      @IP
      @IP
  }
  notify_master /path_to_script/script_master.sh
      (or notify_master “ /path_to_script/script_master.sh <arg_list>”)
  notify_backup /path_to_script/script_backup.sh
      (or notify_backup “ /path_to_script/script_backup.sh <arg_list>”)
  notify_fault /path_to_script/script_fault.sh
      (or notify_fault “ /path_to_script/script_fault.sh <arg_list>”)
}