apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: vault-issuer
spec:
  vault:
    server: https://vault.vault.svc.cluster.local:8200
    path: pki_int/sign/cluster-local
    auth:
      kubernetes:
        mountPath: /v1/auth/kubernetes
        role: issuer
        serviceAccountRef:
          name: vault-issuer
    caBundleSecretRef:
      name: vault-tls
      key: vault.ca
