apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
namePrefix: stg-
commonLabels:
  env: staging
images:
  - name: song-list-backend
    newName: ghcr.io/piny940/song-list-backend # {"$imagepolicy": "default:stg-song-list-backend:name"}
    newTag: main-79337171ff5e71b240ccc3ecdfad5cb6e0bff257-629 # {"$imagepolicy": "default:stg-song-list-backend:tag"}
  - name: song-list-frontend
    newName: ghcr.io/piny940/song-list-frontend # {"$imagepolicy": "default:stg-song-list-frontend:name"}
    newTag: main-6dbbcfd2de2778cebea75304c228f3d5c4eaca16-624 # {"$imagepolicy": "default:stg-song-list-frontend:tag"}
resources:
  - ../base
  - ingress.yaml
  - image-policy.yaml
configMapGenerator:
  - name: song-list-conf
    behavior: merge
    literals:
      - POSTGRES_NAME=song_list_staging
      - BACKEND_HOST=stg-song-list-backend.default.svc.cluster.local
      - SERVER_NAME=cherry
      - RAILS_HOST=stg-song-list-backend.piny940.com
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
  - patch: |-
      - op: replace
        path: /spec/interval
        value: 30s
    target:
      kind: ImageRepository
