apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-secret
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: SESSION_SECRET
      remoteRef:
        key: auth
        property: SESSION_SECRET
    - secretKey: OAUTH_RSA_PRIVATE_KEY
      remoteRef:
        key: auth
        property: OAUTH_RSA_PRIVATE_KEY
    - secretKey: OAUTH_RSA_PRIVATE_KEY_PASSPHRASE
      remoteRef:
        key: auth
        property: OAUTH_RSA_PRIVATE_KEY_PASSPHRASE
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-example-secret
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: CLIENT_SECRET
      remoteRef:
        key: auth
        property: EXAMPLE_CLIENT_SECRET
