apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-frontend
  labels:
    app: auth-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-frontend
  template:
    metadata:
      labels:
        app: auth-frontend
    spec:
      containers:
        - name: app
          image: auth-frontend
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: auth-conf
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: 10m
              memory: 150Mi
            limits:
              cpu: 100m
              memory: 500Mi
