---
- name: Apt install haproxy
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: haproxy
    state: latest
- name: Configure ha proxy
  ansible.builtin.template:
    src: haproxy.conf.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: "0644"
  notify: Restart HA Proxy
- name: Enable ha proxy
  ansible.builtin.systemd:
    name: haproxy
    enabled: true
    state: started
  notify: Restart HA Proxy
