apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: postgres-cluster
spec:
  teamId: cluster
  volume:
    size: 10Gi
    storageClass: longhorn
  numberOfInstances: 2
  users:
    default.kintai:
      - createdb
    default.portfolio:
      - createdb
    default.song-list:
      - createdb
    default.clubroom:
      - createdb
    default.auth:
      - createdb
  postgresql:
    version: "15"
  patroni:
    initdb:
      encoding: UTF8
      data-checksums: "true"
    pg_hba:
      - local all all md5
      - host all all 0.0.0.0/0 md5
      - hostssl all all 0.0.0.0/0 md5
      - hostnossl all all 0.0.0.0/0 md5
  resources:
    requests:
      memory: 256Mi
