apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: apps-git
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  secretRef:
    name: flux-system
  url: ssh://git@github.com/piny940/infra
