apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-secret
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: cloudflare-token
      remoteRef:
        key: external-dns
        property: cloudflare-token
    - secretKey: slack-token
      remoteRef:
        key: external-dns
        property: slack-token
