#@ load("@ytt:data", "data")

apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: #@ data.values.name + "-secret"
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: COOKIE_SECRET
      remoteRef:
        key: #@ data.values.secretKey
        property: oauth-cookie-secret
    - secretKey: CLIENT_ID
      remoteRef:
        key: #@ data.values.secretKey
        property: oauth-client-id
    - secretKey: CLIENT_SECRET
      remoteRef:
        key: #@ data.values.secretKey
        property: oauth-client-secret
