apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: flux-target-updater-secret
  namespace: default
spec:
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  refreshInterval: 1m
  data:
    - secretKey: APP_TOKEN
      remoteRef:
        key: flux-target-updater
        property: app-token
