apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeSelectors: true
    pairs:
      env: staging
namePrefix: stg-
images:
  - name: flux-target-updater
    newName: ghcr.io/piny940/flux-target-updater # {"$imagepolicy": "default:stg-flux-target-updater:name"}
    newTag: main-24c79bc23ac99efa87a8ac7f875db024702e11e7-20250226121019 # {"$imagepolicy": "default:stg-flux-target-updater:tag"}
resources:
  - ../base
  - deployment.yaml
  - external-secret.yaml
  - image-policy.yaml
  - image-repository.yaml
  - ingress.yaml
  - service-account.yaml
  - service.yaml
configurations:
  - kustomizeconfig.yaml
configMapGenerator:
  - name: flux-target-updater-conf
    behavior: merge
    literals:
      - APP_DEBUG=false
      - APP_PORT=8080
