apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: kintai-frontend
spec:
  imageRepositoryRef:
    name: kintai-frontend
  filterTags:
    pattern: "^main-[a-z0-9]+-(?P<ts>[0-9]+)$"
    extract: "$ts"
  policy:
    numerical:
      order: asc
