name: FluxCD Auto-PR
on:
  push:
    branches:
      - fluxcd/image-update
jobs:
  create-and-merge-pr:
    name: Open PR to main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.DEPLOY_STG_APP_ID }}
          private-key: ${{ secrets.DEPLOY_STG_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
      - name: Fetch pull request
        id: fetch_pr
        run: |
          PR_URL=$(gh pr list --head ${{ github.ref_name }} --state open --json url --jq '.[].url')
          echo "pr_url=$PR_URL" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
      - name: Create pull request
        id: create_pr
        if: steps.fetch_pr.outputs.pr_url == ''
        run: |
          PR_URL=$(gh pr create --base main --title "FluxCD Image Update Automation PR" \
            --body ":crown: *An automated PR*" --head "${{ github.ref_name }}")
          echo "pr_url=$PR_URL" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
      - name: Enable auto-merge for FluxCD PRs
        run: gh pr merge --auto --merge --delete-branch "${{ steps.create_pr.outputs.pr_url }}"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
