name: CI
on:
  pull_request:
permissions:
  id-token: write
  contents: read
  pull-requests: read
jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      ansible: ${{ steps.path-filter.outputs.ansible }}
      kube: ${{ steps.path-filter.outputs.kube }}
      gcp: ${{ steps.path-filter.outputs.gcp }}
      aws: ${{ steps.path-filter.outputs.aws }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: path-filter
        with:
          filters: |
            ansible:
              - "ansible/**"
              - ".github/workflows/ci.yaml"
              - ".github/actions/**"
            kube:
              - "kubernetes/**"
              - ".github/workflows/ci.yaml"
              - ".github/actions/**"
            gcp:
              - "gcp/**"
              - ".github/workflows/ci.yaml"
              - ".github/actions/**"
            aws:
              - "aws/**"
              - ".github/workflows/ci.yaml"
              - ".github/actions/**"
  ansible-lint:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.ansible == 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Write Password
        run: echo ${{ secrets.ANSIBLE_PASSWORD }} > ansible/home-cluster/.ansible-vault-password
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.24"
          enable-cache: true
          working-directory: "ansible"
      - name: Install the project
        run: cd ansible && uv sync --locked --all-extras --dev
      - name: Ansible Lint
        run: cd ansible/home-cluster && uv run ansible-lint
  kubeconform:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.kube == 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: /tmp/pkustomize/cache
          key: pkustomize-${{ hashFiles('kubernetes/scripts/pkustomize/main.go') }}
      - uses: ./.github/actions/setup-aqua
        with:
          working_directory: kubernetes
      - run: cd kubernetes && bash scripts/kubeconform.sh
  kube-yamlfmt:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.kube == 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-aqua
        with:
          working_directory: kubernetes
      - name: Yamlfmt
        run: cd kubernetes && yamlfmt -lint
  kube-cluster-tls:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.kube == 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-aqua
        with:
          working_directory: kubernetes
      - name: Ytt
        run: cd kubernetes && bash scripts/cluster-tls.sh
      - run: if [ -n "$(git status --porcelain)" ]; then git diff; exit 1; fi
  kube-ytt:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.kube == 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-aqua
        with:
          working_directory: kubernetes
      - name: Ytt
        run: cd kubernetes && bash scripts/ytt.sh
      - run: if [ -n "$(git status --porcelain)" ]; then git diff; exit 1; fi

  kube-flux:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.kube == 'true'
    steps:
      - uses: actions/checkout@v6
      - run: cd kubernetes && bash scripts/flux-kustomize.sh
      - run: if [ -n "$(git status --porcelain)" ]; then git diff; exit 1; fi

  tf-format:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.aws == 'true' || needs.filter.outputs.gcp == 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5
      - name: Terraform fmt
        run: terraform fmt -check -recursive
