name: Production Deploy
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  packages: write
jobs:
  path-filter:
    runs-on: ubuntu-latest
    outputs:
      kube: ${{ steps.path-filter.outputs.kube }}
      svcmtr: ${{ steps.path-filter.outputs.svcmtr }}
      gcp: ${{ steps.path-filter.outputs.gcp }}
      aws: ${{ steps.path-filter.outputs.aws }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: path-filter
        with:
          filters: |
            kube:
              - "kubernetes/**"
              - ".github/workflows/prd-deploy.yaml"
              - ".github/actions/**"
            svcmtr:
              - "service-monitor/**"
              - ".github/workflows/prd-deploy.yaml"
              - ".github/actions/**"
            gcp:
              - "gcp/**"
              - ".github/workflows/prd-deploy.yaml"
              - ".github/actions/**"
            aws:
              - "aws/**"
              - ".github/workflows/prd-deploy.yaml"
              - ".github/actions/**"

  gcp-apply:
    runs-on: ubuntu-latest
    needs: path-filter
    environment: production
    if: needs.path-filter.outputs.gcp == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Apply
        uses: ./.github/actions/gcp-apply
        with:
          env: production
          gcp-project: ${{ vars.PRD_GCP_PROJECT }}
          gcp-project-number: ${{ vars.PRD_GCP_PROJECT_NUMBER }}
  aws-apply:
    runs-on: ubuntu-latest
    needs: path-filter
    environment: production
    if: needs.path-filter.outputs.aws == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Apply
        uses: ./.github/actions/aws-apply
        with:
          env: "production"
          aws-region: ${{ vars.AWS_REGION }}
          aws-role-arn: ${{ vars.AWS_GITHUB_ACTIONS_ROLE_ARN }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
  service-monitor:
    runs-on: ubuntu-latest
    needs: path-filter
    if: needs.path-filter.outputs.svcmtr == 'true'
    environment: production
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Deploy
        uses: ./.github/actions/service-monitor-deploy
        with:
          func-name: service-monitor
          aws-region: ${{ secrets.AWS_REGION }}
          aws-update-health-check-arn: ${{ vars.AWS_GITHUB_ACTIONS_ROLE_ARN }}
