name: Staging push
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  pr:
    runs-on: ubuntu-latest
    environment: staging # 管理者の承認が必要
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.DEPLOY_STG_APP_ID }}
          private-key: ${{ secrets.DEPLOY_STG_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Push to staging branch
        run: |
          git push -u origin HEAD:staging -f
  main:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref_name == 'main'
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.DEPLOY_STG_APP_ID }}
          private-key: ${{ secrets.DEPLOY_STG_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Push to staging branch
        run: |
          git push -u origin HEAD:staging -f
