name: Staging Deploy
on:
  push:
    branches:
      - staging

permissions:
  id-token: write
  contents: read
  pull-requests: read
  packages: write

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      kube: ${{ steps.path-filter.outputs.kube }}
      svcmtr: ${{ steps.path-filter.outputs.svcmtr }}
      gcp: ${{ steps.path-filter.outputs.gcp }}
      aws: ${{ steps.path-filter.outputs.aws }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: path-filter
        with:
          base: staging
          filters: |
            kube:
              - "kubernetes/**"
              - ".github/actions/**"
              - ".github/workflows/stg-deploy.yaml"
            svcmtr:
              - "service-monitor/**"
              - ".github/actions/**"
              - ".github/workflows/stg-deploy.yaml"
            gcp:
              - "gcp/**"
              - ".github/actions/**"
              - ".github/workflows/stg-deploy.yaml"
            aws:
              - "aws/**"
              - ".github/actions/**"
              - ".github/workflows/stg-deploy.yaml"

  service-monitor:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.svcmtr == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Deploy
        uses: ./.github/actions/service-monitor-deploy
        with:
          func-name: stg-service-monitor
          aws-region: ${{ secrets.AWS_REGION }}
          aws-update-health-check-arn: ${{ vars.AWS_GITHUB_ACTIONS_ROLE_ARN }}

  gcp-apply:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.gcp == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Apply
        uses: ./.github/actions/gcp-apply
        with:
          env: staging
          gcp-project: ${{ vars.STG_GCP_PROJECT }}
          gcp-project-number: ${{ vars.STG_GCP_PROJECT_NUMBER }}

  aws-apply:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.aws == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Apply
        uses: ./.github/actions/aws-apply
        with:
          env: "staging"
          aws-region: ${{ vars.AWS_REGION }}
          aws-role-arn: ${{ vars.AWS_GITHUB_ACTIONS_ROLE_ARN }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
