name: Terraform Plan
on:
  pull_request:
permissions:
  id-token: write
  contents: read
  pull-requests: write
jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      gcp: ${{ steps.path-filter.outputs.gcp }}
      aws: ${{ steps.path-filter.outputs.aws }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: path-filter
        with:
          filters: |
            gcp:
              - "gcp/**"
              - ".github/actions/gcp-plan/action.yaml"
              - ".github/workflows/tf-plan.yaml"
            aws:
              - "aws/**"
              - ".github/actions/aws-plan/action.yaml"
              - ".github/workflows/tf-plan.yaml"

  gcp-plan-prd:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.gcp == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Plan
        uses: ./.github/actions/gcp-plan
        with:
          env: "production"
          gcp-project: ${{ vars.PRD_GCP_PROJECT }}
          gcp-project-number: ${{ vars.PRD_GCP_PROJECT_NUMBER }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
  gcp-plan-stg:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.gcp == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Plan
        uses: ./.github/actions/gcp-plan
        with:
          env: "staging"
          gcp-project: ${{ vars.STG_GCP_PROJECT }}
          gcp-project-number: ${{ vars.STG_GCP_PROJECT_NUMBER }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}

  aws-plan-prd:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.aws == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Plan
        uses: ./.github/actions/aws-plan
        with:
          env: "production"
          aws-region: ${{ vars.AWS_REGION }}
          aws-role-arn: ${{ vars.AWS_GITHUB_ACTIONS_ROLE_ARN }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
  aws-plan-stg:
    runs-on: ubuntu-latest
    needs: filter
    if: needs.filter.outputs.aws == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Terraform Plan
        uses: ./.github/actions/aws-plan
        with:
          env: "staging"
          aws-region: ${{ vars.AWS_REGION }}
          aws-role-arn: ${{ vars.AWS_GITHUB_ACTIONS_ROLE_ARN }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
